<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    table{
        background-color: aqua;
        
    }
</style>
<body>
    <table border="2px">
    
    <tr>
        <th>NAME</th>
        <th>MODEL</th>
        <th>LAUNCH YEAR</th>
    </tr>
    {% for Mobiles in res %}
    <tr>
    <td>{{Mobiles.name}}</td>
    <td>{{Mobiles.model}}</td>
    <td>{{Mobiles.launch_year}}</td>
</tr>
    {% endfor %}

</table>
</body>
</html>